/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}
img,
object,
embed {max-width: 100%;}
html {overflow-y: scroll;}
ul {list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

body {
	background:#f9f9f9; 
	font: 17px/24px "minion-pro-caption-1","minion-pro-caption-2","Minion Pro",Georgia,serif;
	margin: 60px 0 36px;
	padding: 0;
}

header h1 { font-size:60px;line-height:60px;margin-bottom: 10px; }
h1 {font-size:48px;line-height:48px;}
h2 {font-size:36px;line-height:36px;}
h3 {font-size:24px;line-height:24px;}
h4 {font-size:20px;line-height:20px;}

body, select, input, textarea {color: #333;}
a {color: #036;}
a:hover {color: #039;}
a:link {-webkit-tap-highlight-color: #fcd700;} 

::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

img::-moz-selection {background: transparent;}
img::selection {background: transparent;}

html {-webkit-text-size-adjust: none;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

ins {background-color: #ff6; color: #000; text-decoration: none;}
mark {background-color: #ff6; color: #000; font-style: italic; font-weight: bold;}

time {padding-right: 4px; font-size: 12px;}
	time:after {content: ":";}

code {color: #000; background: #ececec; padding: 0 4px;}

a {position: relative; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
a:active {position: relative; top: 1px;}

div.wrapper {width: 90%; max-width: 580px; margin: 0 auto;}
.ie body {text-align: center;}
.ie div.wrapper {text-align: left; width: 580px;}

h1 a {text-decoration: none; color: #333;}

nav {margin: 0 0 40px; padding: 6px 0; border-top: 2px dotted #dfdfdf; border-bottom: 2px dotted #dfdfdf; text-align: center;}
nav ol li {display: inline-block; padding-left: 12px; margin: 0;}
nav ol li:first-child {padding-left: 0;}
nav ol li a {text-decoration: none; font-size: 12px; text-transform: uppercase; color: #333; font-family: palatino, georgia, times, serif; white-space: nowrap;}
nav ol li a:hover {color: #000;}

hr {display: none; height: 0; width: 25%; margin: 50px auto 50px; border: 0; border-bottom: 1px solid #ccc; border-bottom: 1px solid rgba(255,255,255,.3);}

article {margin: 0 auto 50px;}
article h1 {width: auto; margin-top: 5px; padding-top: 10px; }
article h2 {margin-top: 15px; margin-bottom: 12px; padding-top: 15px; text-transform: uppercase;}	
article p {margin-bottom: 18px;}
article ol {margin: 0 0 18px 24px;}
article ul {margin: 0 0 18px 0;}
article ul li {padding-left: 73px; text-indent: -73px;}
article ul li time {}
article ul.links {margin: 18px 0;}
article ul.links li {margin: 0 0 6px 0; padding-left: 18px; text-indent: -18px;}
article ul.links li:before {content: "\2605\0020";}
article ul.links li.noStar {margin-left: 44px; font-size: 14px; font-style: italic;}
article ul.links li.noStar:before {content: "";}
		
.ie article ul.links li:before {content: "&raquo; ";}
.ie article ul.links li.noStar {margin-left: 36px;}
.ie article ul.links li.noStar:before {content: "";}

article ul.screenshots {width: 100%; margin: 6px 0 18px;}
article ul.screenshots li {float: left; margin-right: 12px;}
article ul.screenshots li:last-child {margin-right: 0;}
			
article ul.screenshots li a {display: block;}
article ul.screenshots li img {display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

article figure {float: right; position: relative; margin: 0 -25% 12px 12px;}
article figure img {display: block; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
		
@media screen and (max-width: 992px) {
	article figure {max-width: 50%; margin-right: 0;}
}

@media screen and (max-width: 480px) {
	article figure {width: auto; max-width: 100%; float: none; margin: 0 auto 18px;}
	article figure img {width: 100%;}
}
		
article figure:before,
article figure:after {content: ""; position: absolute; z-index: -2;}
	
/* Lifted corners */    
article figure:before,
article figure:after { 
	bottom:17px;
        left:5px;
        width:50%;
        height:10%;
        -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
           -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform:rotate(-3deg);    
           -moz-transform:rotate(-3deg);   
            -ms-transform:rotate(-3deg);   
             -o-transform:rotate(-3deg);
                transform:rotate(-3deg);
}
    
article figure:after {
        right:5px; 
        left:auto;
        -webkit-transform:rotate(3deg);   
           -moz-transform:rotate(3deg);  
            -ms-transform:rotate(3deg);  
             -o-transform:rotate(3deg);
                transform:rotate(3deg);
}

div#overlay {display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0,0,51,.8); cursor: pointer;}
.ie div#overlay {background: url(../../img/bg-trans.png);}
div#inner {width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center;}

footer {position: relative; margin: 60px 0 100px; padding: 12px 0 20px; font-size: 14px; border-top: 2px dotted #dfdfdf; color: #666;}
footer a {color: #666;}
.ie footer p img {display: none;}






/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

